/*header components */
.header-container {
  display: flex;
  justify-content: space-around;
  background-color: hsl(163, 18%, 15%);
}
.logo img {
  width: 150px;
}
ul {
  display: flex;
  justify-content: space-around;
}
li {
  list-style-type: none;
  margin: 1rem;
  margin-top: 2rem;
}
a {
  text-decoration: none;
  color: rgb(99, 212, 174);
  font-size: 1.5rem;
}
a:hover {
  border-bottom: 1px solid rgb(99, 212, 174);
}
/*cars components */
.search-container {
  margin: 2rem;
}
input {
  padding: 1rem;
  border: 1px solid rgb(99, 212, 174);
}
.car-image {
  width: 300px;
  height: 200px;
}
.cars-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  row-gap: 100px;
}

.info {
  background-color: rgb(239, 247, 242);
  width: 250px;
  color: #000;
  text-align: center;
  padding: 0.75rem;
  border-radius: 50%;
}
/* car component */
.interior-images {
  display: flex;
  flex-direction: row;
  column-gap: 50px;
  width: 40%;
}
.interior-images img {
  width: 300px;
}
.engine {
  background-color: rgb(239, 247, 242);
}
h5 {
  text-align: center;
  font-size: 1.5rem;
  background-color: rgb(239, 247, 242);
  width: fit-content;
  padding: 0.25rem;
}
/* foter component */
.footer-container {
  background-color: hsl(163, 18%, 15%);
}
.footer-container h1 {
  text-align: center;
  padding: 1rem;
  color: #8d8585;
}
